## Deliverable 3. Create a Travel Itinerary Map.

In [82]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [83]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("C:\\Users\\yadav thapa\\Desktop\\World_Weather_Analysis\\Weather_Database\\vacationsearch_Database.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,City Description,Lat,Lng,Hotel Name
0,0,Saint-Philippe,RE,69.80,scattered clouds,-21.36,55.77,"Chambres d'hôte ""La Trinité"""
1,1,Leh,IN,64.33,clear sky,34.17,77.58,Hotel Ladakh Greens
2,2,Gualeguay,AR,65.86,clear sky,-33.14,-59.31,Cabañas Nuestro Refugio
3,7,East London,ZA,63.21,broken clouds,-33.02,27.91,Tu Casa
4,9,Rikitea,PF,70.11,scattered clouds,-23.12,-134.97,Pension Maro'i

In [84]:
vacation_df

,City_ID,City,Country,Max Temp,City Description,Lat,Lng,Hotel Name
0,0,Saint-Philippe,RE,69.80,scattered clouds,-21.36,55.77,"Chambres d'hôte ""La Trinité"""
1,1,Leh,IN,64.33,clear sky,34.17,77.58,Hotel Ladakh Greens
2,2,Gualeguay,AR,65.86,clear sky,-33.14,-59.31,Cabañas Nuestro Refugio
3,7,East London,ZA,63.21,broken clouds,-33.02,27.91,Tu Casa
4,9,Rikitea,PF,70.11,scattered clouds,-23.12,-134.97,Pension Maro'i
...,...,...,...,...,...,...,...,...
195,677,Peniche,PT,71.01,clear sky,39.36,-9.38,Hotel Star inn Peniche
196,678,Inhambane,MZ,66.20,clear sky,-23.86,35.38,Oceano
197,680,Mersing,MY,73.40,broken clouds,2.43,103.84,Timotel Hotel
198,681,Mehran,IR,69.80,clear sky,33.12,46.16,بوتیک زنانه بهار
199,683,Adwa,ET,62.78,light rain,14.16,38.90,Maay Assa Hotel

In [85]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country code</dt><dd>{Country}</dd>
<dt>Weather description</dt><dd>{City Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

In [86]:
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [70]:
# 4a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=3.0)

marker_layer = gmaps.marker_layer(locations)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [72]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]=="Cidreira")]
vacation_end = vacation_df.loc[(vacation_df["City"]=="Cidreira")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]=="Vila Velha")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="Sao Manuel")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="Santo Estevao")]

In [74]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
Cidreira=(-30.18,-50.21)
Cidreira=(-30.18,-50.21)
Vila_Velha=(-20.33,-40.29)
Sao_Manuel=(-22.73,-48.57)
Santo_Estevao =(-12.43,-39.25)

In [106]:
itinerary_df=pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3], ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,City Description,Lat,Lng,Hotel Name
0,11,Cidreira,BR,61.21,clear sky,-30.18,-50.21,Hotel Castelo
1,41,Vila Velha,BR,73.00,overcast clouds,-20.33,-40.29,Hotel Vitória Palace
2,111,Sao Manuel,BR,73.40,clear sky,-22.73,-48.57,Zeminian & Zeminian Ltda
3,250,Santo Estevao,BR,74.17,broken clouds,-12.43,-39.25,Campo Hotel

In [107]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
gmaps.configure(api_key='AIzaSyCkChYcKv52ryFMwcEKcWSpFIWf0TfJvQM')
fig = gmaps.figure()
project_trip=gmaps.directions_layer(Cidreira,Cidreira,waypoints=[Vila_Velha,Sao_Manuel,Santo_Estevao ], travel_mode="DRIVING")
fig.add_layer(project_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [117]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [118]:
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [121]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=4.0)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))